@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/**********************************************************************************************
-- hard depencency with <meta name="viewport" content="width=device-width, initial-scale=1"> --
**********************************************************************************************/

html, body {
	margin: 0;
	height: 100%;
	background-color: #f5f5f5;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2{
	margin-block-start:0.5em;
	margin-block-end:0.5em;
}

header {
	display: flex;
	height: 80px;
	overflow: hidden;
	color: #fff;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
}

.header_image{
	cursor: pointer;
	height: 85%;
	border-radius: 50%;
	margin: auto 0px auto 10px;
}

.header_title {
	cursor: pointer;
	margin: auto 0px auto 10px;
	color: white;
}

.header_item_social_media {
	margin: auto 10px 5px 0px;
}

.header_item_social_media_pusher_item {
	margin: auto 10px 5px auto;
}
.social_network_img{
	width: 30px;
	height: 30px;
}

main {
	min-height: 100%;
	width: 90%;
	margin: auto;
	color: #606c71;
}
.security_stuff_container{
	width: 48%; 
	float:left;
}

.other_stuff_container{
	width: 48%; 
	float:right;
}


article{
	overflow: hidden;
}

h2, h3 { 
	color:#159957;
	font-weight: normal
}

p {
	text-align: justify;
	text-justify: inter-word;
}

a {
	color: #155799;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}

.button_to_page:active, .button_to_page:hover {
	text-decoration: none;
}

.button_to_page {
	border: 1px solid #155799;
	border-radius: 10px;
	padding: 4px;
	padding-top: 3px;
	margin-right: 0.5em;
	float:right;
	font-size: small;
}	
.button_to_page:hover{
	border: 1px solid #159957;
	color: #159957;
}

.reduce_top_margin_05em{
	margin-top: -0.5em;
}


table {
	width: 90%;
	margin: auto;
	border-spacing: 0 0.5em;
}

tr{
	padding: 5px;
}
th{
	text-align: left;
}

footer {
	width: 75%;
	margin: auto;
	border-top: 1px solid #159957;
	padding: 5px;
	text-align: center;
	font-size: x-small;
	color: #606c71;
	bottom: 0px;
	margin-top: 20px;
}

.footer_fontsize_big{
	font-size: small;
}


@media screen and (orientation:portrait) {
	.hide_on_portrait{
		display: none;
	}
	
	footer, footer > a {
		font-size: xx-small;
	}
	.footer_fontsize_big, .footer_fontsize_big > a {
		font-size: x-small;
	}

	.header_title, h2 {
		font-size: 1.4em;
	}

	p, a, table, td, tr, th {
		font-size: small
	}
	.security_stuff_container, .other_stuff_container{
		width: 100%;
		float:none;
	}
}